PORT=3001
REACT_APP_API_URL=http://localhost:3000
REACT_APP_FIREBASE_API_KEY=AIzaSyD5_MWJnn3ErO-MrW1L0M2cCI5XKYJZ4vc
REACT_APP_FIREBASE_AUTH_DOMAIN=go-on-hacks.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=go-on-hacks
REACT_APP_FIREBASE_STORAGE_BUCKET=go-on-hacks.firebasestorage.app
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=151096857391
REACT_APP_FIREBASE_APP_ID=1:151096857391:web:a22d762c854ac2680e07da
